.vscode
vendor
www/core
www/modules/contrib
www/modules
www/sites/default/files
*.gz
www/web.config
www/*.json
*.dd
www/sites/default/settings.php
www/sites/default/settings.local.php
www/libraries
www/themes/contrib
www/.csslintrc
www/.eslintignore
www/.editorconfig
